* { 
   box-sizing: border-box;
}
body {
   margin: 0;
}
.clearfix{
   clear:both;
}
.header-banner{
   padding-top:35px;
   padding-bottom:100px;
   color:#ffffff;
   font-family:Helvetica, serif;
   font-weight:100;
   background-image:url(../images/banner.jpg);
   background-size: 100%;
   background-attachment:scroll, scroll;
   background-position:center 20%;
   background-repeat:repeat-y, no-repeat;
   background-size:cover;
}
.container-width{
   width:90%;
   max-width:1150px;
   margin:0 auto;
}
.logo-container{
   float:left;
   width:50%;
}
.lead-title{
   font-size:60px;
   float:none;
   margin:80px 0 80px 0;
   font-family:Verdana, Geneva, sans-serif;
   text-align:center;
}
.flex-sect{
   background-color:#fafafa;
   padding:100px 0;
   font-family:Helvetica, serif;
}
.flex-title{
   margin-bottom:15px;
   font-size:2em;
   text-align:center;
   font-weight:700;
   color:#555;
   padding:5px;
   font-size:20px;
   text-align:left;
   font-family:Helvetica, serif;
}
.form{
   border-radius:3px;
   padding:10px 15px;
   background-color:rgba(0,0,0,0.2);
}
.form-group{
   display:flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.textarea{
   resize: vertical;
   width:100%;
   margin-bottom:5px;
   padding:7px 10px;
   border-radius:2px;
   color:#eeeeee;
   border:none;
   font-family:Helvetica, serif;
   background-color:#2c2c2c;
}
.label{
   width:100%;
   display:block;
   text-decoration:none;
   font-family:Helvetica, serif;
   font-size:20px;
   margin-bottom: 5px;
}
.button{
   width:100%;
   margin:0 0;
   border:none;
   border-radius:2px;
   padding:7px 10px;
   font-size:1em;
   cursor:pointer;
   background-color:#304483;
   color:#eeeeee;
}
.row{
   display:flex;
   justify-content:flex-start;
   align-items:stretch;
   flex-wrap:nowrap;
   padding:10px;
}
.cell{
   flex-grow:1;
   flex-basis:100%;
}
#gap{
   flex-basis:10%;
}
.shift-output{
   padding:10px;
   text-align:center;
   font-size:17px;
   font-family:Helvetica, serif;
   width:300px;
   margin:auto;
}
@media (max-width: 768px){
   .row{
      flex-wrap:wrap;
   }
}

@keyframes flash-red {
   0%   {background-color: #2c2c2c;}
   25%  {background-color: grey;}
   50%  {background-color: darkred;}
   100% {background-color: #7c251a;}
}

@keyframes flash-blue {
   0%   {background-color: #2c2c2c;}
   50%  {background-color: grey;}
   100% {background-color: #2c2c2c;}
}

.output-flash {
   animation: flash-blue 1s;
}

.error-flash {
   animation: flash-red 2s;
   animation-fill-mode: forwards;
}